{%extends 'base.html' %}
{%load static%}
{%block content%}


<div class="container"><br><br><br><br><br><br>
<table class="table table-hover " border="">
  <thead class="thead-dark">
    <tr>
      <th>KUN</th>
      <th>APREL-MAY</th>
      <th>HAFTA KUNI</th>
      <th>SAHARLIK (TONG)</th>
      <th>	IFTOR (SHOM)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>13</td>
      <td>Seshanba</td>
      <td>04:25</td>
      <td>19:03</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>14</td>
      <td>Chorshanba</td>
      <td>04:24</td>
      <td>19:04</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>15</td>
      <td>Payshanba</td>
      <td>04:22</td>
      <td>19:05</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>16</td>
      <td>Juma</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>17</td>
      <td>Juma</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>18</td>
      <td>Shanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>19</td>
      <td>Yakshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>20</td>
      <td>Dushanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>21</td>
      <td>Seshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>22</td>
      <td>Shanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>23</td>
      <td>Yakshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>24</td>
      <td>Dushanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>25</td>
      <td>Seshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>26</td>
      <td>Chorshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>27</td>
      <td>Payshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>28</td>
      <td>Juma</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>29</td>
      <td>Shanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>30</td>
      <td>Yakshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>1</td>
      <td>Dushanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>2</td>
      <td>Seshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>3</td>
      <td>Juma</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>4</td>
      <td>Chorshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>5</td>
      <td>Payshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">24</th>
      <td>6</td>
      <td>Juma</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td>7</td>
      <td>Juma</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">26</th>
      <td>8</td>
      <td>Shanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">27</th>
      <td>9</td>
      <td>Yakshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">28</th>
      <td>10</td>
      <td>Dushanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">29</th>
      <td>11</td>
      <td>Seshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td>12</td>
      <td>Chorshanba</td>
      <td>04:20</td>
      <td>19:06</td>
    </tr>
  </tbody>
  <h3 class="text-center">Ramazon taqvimi – 2021</h3>


  <p class="text-center">Avval: Chimkent (-1), Konibodom (-5), Xo‘jand (-6), Qo‘qon (-7), Jambul (-7), Namangan (-10), Farg‘ona (-10), Marg‘ilon (-10), Andijon (-11), O‘sh (-14), Jalolobod (-15), Bishkek (-21), Olma – ota (-21)</p><br>
  <p class="text-center">Keyin: Bekobod (+4), Turkiston (+4), Jizzax (+6), Guliston (+7), Denov (+7), Jomboy (+7), Samarqand (+9), Shahrisabz (+10), Kattaqo‘rg‘on (+12), Qarshi (+12), Nurota (+14), Navoiy (+19), Buxoro (+21), Xiva (+35), Nukus (+42)</p>

  <h4 class="text-center text-danger">! Oy korinishiga qarab bir kunga farq qilishi mumkin</h4>



</table><h4 class="text-center">Ro‘za tutish (saharlik, og‘iz yopish) duosi</h4>
<p class="text-right"><h5 class="text-right">نَوَيْتُ أَنْ أَصُومَ صَوْمَ شَهْرَ رَمَضَانَ مِنَ الْفَجْرِ إِلَى الْمَغْرِبِ، خَالِصًا لِلهِ تَعَالَى أَللهُ أَكْبَرُ</h5></p>
<b>Navaytu an asuvma sovma shahri ramazona minal fajri ilal mag‘ribi, xolisan lillahi ta’aalaa Allohu akbar.</b>
<p>Ma’nosi: Ramazon oyining ro‘zasini subhdan to kun botguncha tutmoqni niyat qildim. Xolis Alloh uchun Alloh buyukdir.</p>
<br>
<h4 class="text-center">Iftorlik (og‘iz ochish) duosi</h4>
<p class="text-right"><h5 class="text-right">نَاَللَّهُمَّ لَكَ صُمْتُ وَ بِكَ آمَنْتُ وَ عَلَيْكَ تَوَكَّلْتُ وَ عَلَى رِزْقِكَ أَفْتَرْتُ، فَغْفِرْلِى مَا قَدَّمْتُ وَ مَا أَخَّرْتُ بِرَحْمَتِكَ يَا أَرْحَمَ الرَّاحِمِينَ  </h5></p>

<strong>Allohumma laka sumtu va bika aamantu va a’layka tavakkaltu va a’laa rizqika aftartu, fag‘firliy ma qoddamtu va maa axxortu birohmatika yaa arhamar roohimiyn.</strong>
<p>Ma’nosi: Ey Alloh, ushbu Ro‘zamni Sen uchun tutdim va Senga iymon keltirdim va Senga tavakkal qildim va bergan rizqing bilan iftor qildim. Ey mehribonlarning eng mehriboni, mening avvalgi va keyingi gunohlarimni mag‘firat qilgil.</p>
<br><br><p>Manba: 1442 hijriy (2020-2021 milodiy) yil uchun HIJRIY-QAMARIY taqvim, O‘zbekiston Musulmonlari idorasi, “Movarounnahr” nashriyoti, “Shamsuddin Boboxonov” NMIU, ISSN 2181-5879</p><br><hr>


</div>

{%endblock%}